h1 {
    color: grey;
}

hr {
    margin-bottom: 16px;
}

a {
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-top: 16px;
}

button {
    padding: 8px 12px;
    margin-top: 16px;
}

p {
    margin-top: 8px;
}